.mainBlock {
  padding-top: 20px;
  overflow: auto;
  height: 84vh;
  width: 70%;
  border-right: 0.5px solid teal;
  padding-left: 40px;
}

.mainBlock::-webkit-scrollbar {
  width: 8px;
}

.mainBlock::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.mainBlock::-webkit-scrollbar-thumb {
  background: rgb(61, 131, 131);
}

.table {
  padding-left: 45px;
}
