.card {
  padding: 15px 10px 45px 45px;
  text-align: center;
  width: 250px;
  color: teal;
  background-color: transparent;
  border: 1px solid teal;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
}

.deleteButton {
  color: rgb(6, 34, 34);
  float: right;
  font-size: 20px;
  border: none;
  background-color: transparent;
}

.number {
  font-size: 30px;
  padding: 20px 45px 0px 20px;
}
